{% extends 'flatpages/default.html' %}
{% block content %}

	<form method="post">
		{% csrf_token %}
        {{ form }}

	</form><br>

<hr>
<h3>Автор {{ comment.comment_author.username }}</h3>
    <hr>
<h4>Дата: {{ comment.date|date:'d M Y' }}</h4>
    <hr>
    <h3>Текст: {{ comment.text }}</h3>
{% if comment.active == False %}
    <a href="/posts/comments/{{ comment.id }}/accept/"><b>Принять</b></a>
    <a>&nbsp;&nbsp;&nbsp;</a>
    <a href="/posts/comments/{{ comment.id }}/delete/" ><b>Удалить</b></a>
{% else %}
    <a style="font-size: 14px; color:green"><b>Отклик принят</b></a>
{% endif %}

{% endblock content %}